name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  DEVELOPER_DIR: /Applications/Xcode_15.4.app/Contents/Developer

jobs:
  swift:
    name: Swift
    runs-on: macos-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v4
    - name: Build
      run: swift build -v
    - name: Test
      run: swift test -v
